.sidebar {
  width: 220px;
  min-width: 220px;
  background-color: #1e293b;
  color: white;
  height: 100vh;
  flex-shrink: 0;
  /* prevents collapsing */
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  transition: width 0.3s;
}

.sidebar.collapsed {
  width: 60px;
  min-width: 60px;
}

/* Logo */
.nav-logo {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

/* Menu */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
}

.menu li,
.menu-item {
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu li.active {
  background-color: #334155;
}

.submenu {
  list-style: none;
  padding-left: 20px;
}

.logout {
  margin-top: auto;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}